.container{
    border: 1px solid black;
    height: 100%;
    aspect-ratio: 210/297;
    overflow: hidden;
}

.topSection{
    max-height: 82px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 4%;
    border-bottom: 2px dashed;
}

.roundPhoto{
    border-radius: 300px;
    width: 15%;
    aspect-ratio: 1/1;
}

.topSectionRight{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.contact{
    font-size: 8px;
    margin: 0;
}

.infoElement{
    display: flex;
    align-items: center;
}

.dot{
    width: 5px;
    height: 5px;
    margin-right: 5px;
    border-radius: 300px;
}

.mainSection{
    padding: 4%;
}

.header{
    margin: 0;
    font-weight: 700;
}

.header::first-letter{
    text-transform: uppercase;
}

.bigDot{
    border-radius: 300px;
    aspect-ratio: 1/1;
    margin-right: 5px;
}

.headerDiv{
    display: flex;
    align-items: center;
}

.mainSection{
    display: flex;
    flex-direction: column;
}


.mainSectionElement{
    margin-left: 8%;
    margin-top: 2%;
}

.date{
    display: flex;
}

.span{
    font-weight: normal;
}