.container{
    width: 100%;
    height: 100%;
    border: 1px solid #ced4da;
    margin-bottom: 1rem;
    padding: 5px;
}

.topSection{
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nameHeader{
    font-size: 1rem;
}

.trashBtn{
    background-color: #FFC107;
    color: black;
}

.unrolledElementControlsWrapper{
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.inputsSection{
    min-height: 345px;
    margin-top: 24px;
    width: 100%;
    overflow: auto;
}